<footer class="site-footer">
  <div class="content">
    <ul>
      {% for link in linklists.footer.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li><a href="/account">{{ customer.first_name }}</a></li>
          <li>{{ 'Log out' | customer_logout_link }}</li>
        {% else %}
          <li>{{ 'Login' | customer_login_link }}</li>
          <li>{{ 'New Account' | customer_register_link }}</li>
        {% endif %}
      {% endif %}
    </ul>
    <ul class="social-links">
      {% for item in settings %}
        {% assign key = item[0] | split: "." %}
        {% assign url = item[1] | strip %}
        {% if key[0] == 'social' and url != "" %}
          <li>
            <a href="{{ item[1]}} ">{{ item[0] | append: ".svg" | asset_url | img_tag }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p class="fineprint">Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved. <a href="/terms">Terms</a></p>
  </div>  
</footer>
