<header class="page-header">
  <div class="content">
    {{ settings.shop_logo.png }}
    <a href="{{ shop.url }}" class="logo">
      {{ 'shop_logo.png' | asset_url | img_tag }}
    </a>
    <button class="mobile-menu-button">
      {{ "open-menu-button.svg" | asset_url | img_tag }}
    </button>
    <nav class="site-nav">
      <ul>
        {% for link in linklists.main-menu.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% include 'shopper' %}
  </div>
</header>